.cases-display{
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
  border: 0.5rem inset rgb(164, 252, 255);
  margin-bottom: 16px;
  height: 10rem;

}
.total-cases{
  border: 0.5rem inset red;
  padding: 0 8px;
  line-height: 3rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  height: 7rem;
  text-align: left;
  background-color: transparent;
  color: red;
}
.recovered-cases{
  border: 0.5rem inset greenyellow;
  padding: 0 8px;
  line-height: 3rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  height: 7rem;
  text-align: left;
  background-color: transparent;
  color: green;
}
.death-cases{
  border: 0.5rem inset gray;
  padding: 0 8px;
  line-height: 3rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  height: 7rem;
  text-align: left;
  background-color: transparent;
  color: gray;
}
