.cases-display{
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 16px;
  border: 0.5rem inset rgb(164, 252, 255);
  margin-bottom: 16px;
  height: 8rem;

}
.total-cases{
  border: 0.5rem inset red;
  padding: 0 8px;
  line-height: 2rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  height: 5rem;
  text-align: left;
  background-color: transparent;
  color: red;
  text-align: center;
  transition: all 0.3s;
}
.total-cases:hover{
  transform: scale(1.05);
  background-color: red;
  color: white;
}
.recovered-cases{
  border: 0.5rem inset greenyellow;
  padding: 0 8px;
  line-height: 2rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  height: 5rem;
  text-align: left;
  background-color: transparent;
  color: green;
  text-align: center;
  transition: all 0.3s;
}
.recovered-cases:hover{
  transform: scale(1.05);
  background-color: greenyellow;
  color: white;
}

.death-cases{
  border: 0.5rem inset gray;
  padding: 0 8px;
  line-height: 2rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  height: 5rem;
  text-align: left;
  background-color: transparent;
  color: gray;
  text-align: center;
  transition: all 0.3s;
}
.death-cases:hover{
  transform: scale(1.05);
  background-color: gray;
  color: white;
}